# Параметри бази даних PostgreSQL
DB_PASSWORD=pass123
POSTGRES_USER=postgres
POSTGRES_DB=notes_db

# Параметри Redis
REDIS_PASSWORD=redpass123

# Налаштування додатку
NODE_ENV=production
PORT=3000